# Dependências do Node.js
node_modules/
package-lock.json

# Arquivos de Variáveis de Ambiente e Segredos (RNF07)
.env
.env.local
.env.production

# Logs de Erros e Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Sistema e IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
